
root = true

[/bin/skm]
end_of_line = lf
indent_size = 2
indent_style = space
charset = UTF-8
max_line_length = 120

[*.rb]
end_of_line = lf
indent_size = 2
indent_style = space
charset = UTF-8
max_line_length = 120
